/*============================================ 
; Title: Assignment Personal Portfolio - diagram-apis.css 
; Author: Ace Baugh ; Start Date: 09/05/2022 
; Description: WEB 330 Personal Portfolio Diagrams and APIs Page 
; This is the style sheet for the diagrams and APIs page.
============================================*/

/* Diagrams Section */
.diagrams {
	margin: 6rem 0 1rem;
}

/* APIs Section */
.apis {
	margin: 1rem 0;
}

/* Both Sections */
.diagrams, .apis {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}
